In [1]:
import joblib
import numpy as np

In [33]:
algo=joblib.load(r"E:\DataScience-data\algo\bank-model.pkl")
en=joblib.load(r"E:\DataScience-data\algo\bank-model-encoder.pkl")

In [35]:
data=np.array([[380,"France",1,45,1000,4,0]])
import pandas as pd
df=pd.DataFrame(data)
df

     0       1  2   3     4  5  6
0  380  France  1  45  1000  4  0

In [36]:
ndata=en.transform(data)

In [37]:
ndata=ndata.astype(np.float64)

In [38]:
algo.predict(ndata)

array([0], dtype=int64)

In [39]:
algo.predict_proba(ndata)

array([[0.81289813, 0.18710187]])